{% extends '::base.html.twig' %}

{% block content %}
    <h1>{{ question.title }}</h1>
    <img class='quiz_img' src="{{ asset(question.imagePath) }}" alt="{{ question.title }}" />

    <a href="{{ path('question_detail', { id: question.id, answer: 'a' }) }}">{{ question.answerA }}</a>
    <a href="{{ path('question_detail', { id: question.id, answer: 'b' }) }}">{{ question.answerB }}</a>
    <a href="{{ path('question_detail', { id: question.id, answer: 'c' }) }}">{{ question.answerC }}</a>
    <a href="{{ path('question_detail', { id: question.id, answer: 'd' }) }}">{{ question.answerD }}</a>
{% endblock %}

